.details p {
    font-size: 16px;
    margin: 8px 0;
}

.actions {
    margin: 20px 0;
    display: flex;
    gap: 15px;
}

.actions .btn-action {
    background: #0d47a1;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-retour {
    display: inline-block;
    background: #0d47a1;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
    transition: 0.2s;
}

.btn-retour:hover {
    background: #08306b;
}

