.barre-recherche {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.barre-recherche input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d0d4db;
    font-size: 15px;
}

.barre-recherche button {
    padding: 12px 20px;
    background: #0d47a1;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.barre-recherche button:hover {
    background: #07337c;
}
