.form-colis {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.06);
    width: 450px;
}

.form-colis label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

.form-colis input,
.form-colis textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccd3e0;
    border-radius: 8px;
}

.btn-valider {
    margin-top: 20px;
    width: 100%;
    background: #0d47a1;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-valider:hover {
    background: #09367b;
}

.message {
    background: #e1f5e6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}
