.btn-action {
    background: #2e7d32;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 5px;
}

.btn-danger {
    background: #c62828;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
}